*, *::after, *::before{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: helvetica;
}
$font: sans-serif, helvetica;
$background-color: #F7D39D;
$font-color: #3A5213;
$panel-color: #84ABDB;
$hover: #C9DB6D;


header{
    background-color: $panel-color;
    padding: 2rem;
    display: none;

    li{
        display: inline;
        list-style-type: none;
        padding: 2rem;
        &:hover{
            background-color: $hover;
        }
    }
}

html{
    background-color: $background-color;
    color: $font-color;
    font-family: $font;
    text-align: center;
}


.container{
    background-color: $background-color;
    padding: 15px;
    #slider{
        background-color: $background-color;
        width: 720px;
        height: 400px;
        overflow: hidden;
        margin: auto;
        .slides{
            display: block;
            width: 6000px;
            height: 400px;
        }
        .slide{
            width: 720px;
            height: 400px;
            list-style-type: none;
            float: left;
        }
    }
}

div{
    background-color: $panel-color;
    padding: 5px;
    margin: 10px;
}

.tabs{
    display: inline;
    padding-bottom: 20px;
}

.galleries{
    display: inline-grid;
    grid-template-columns: auto auto auto;
    max-width: 100%;
    height: auto;
}

.gallery1{
    img{
        display: inline-block;
    }
}